* {
  font-family: "Poppins", sans-serif;
}

.create-new,
.all-entries,
a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

.click-here:hover {
  background-color: rgb(191, 186, 186);
  border-radius: 10px;
  display: inline-flex;
}

.hide:hover {
  background-color: rgb(191, 186, 186);
  border-radius: 10px;
  display: inline-flex;
}

.create-new:hover button {
  display: none;
}

.create-new:hover:before {
  content: "New Transaction";
  font-size: xx-large;
  color: aliceblue;
}

.create-new:hover {
  text-align: center;
  padding: 13px;
  border-radius: 5px;
  background-color: rgb(27, 155, 194);
}

.show-buttons {
  flex-direction: row-reverse;
  padding-right: 550px;
  column-gap: 20px;
}

.new-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.hide {
  cursor: pointer;
  position: relative;
  bottom: 500px;
  left: 140px;
  /* bottom: 910px;
  left: 340px; */
}

/* .doughnutchart {
  height: 600px;
  display: flex;
  justify-content: center;
} */

/* @media only screen and (max-width: 200px) {
  .total {
    align-items: right;
  }
} */

@media screen and (max-width: 1250px) {
 
}

@media screen and (max-width: 775px) {

}
@media screen and (max-width: 480px) {
img {
  height: 100px;
}
#heading {
  color: rgb(180, 9, 9);
  /* text-shadow: 3px 3px gold; */
}
}